{#
SPDX-FileCopyrightText: 2021 Helmholtz Centre for Environmental Research (UFZ)
SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum Dresden-Rossendorf (HZDR)

SPDX-License-Identifier: Apache-2.0
#}

---

network:
  version: 2
  renderer: networkd
{% if netplan_interfaces['ethernets'] is defined %}
  ethernets:
{% for interface_name, config in netplan_interfaces['ethernets'].items() %}
      {{ interface_name }}:
        {{ config | to_nice_yaml(indent=6) }}
{% endfor %}
{% endif %}
{% if netplan_interfaces['wifis'] is defined %}
  wifis:
{% for interface_name, config in netplan_interfaces['wifis'].items() %}
      {{ interface_name }}:
        {{ config | to_nice_yaml(indent=6) }}
{% endfor %}
{% endif %}

...
